/*general styling*/

body {
    font-family: 'Lora', serif;
}

header {
    font-family: 'Lora', serif;
    background-color: #ededef;
}

header img {
    max-width: 100%;
}

header h1{
    color: #99b829;
    text-align: center;
}

.container h2{
    color: #99b829;}

ul {
   list-style-type: none;
};


a {
    text-decoration: none;
}

.mb-3{
    color: #99b829;
    margin-top: 10px;
}

.important {
    font-weight: bold;
    color: #282828;
}
.important a{
    text-decoration: none;
    color: #99B829;
}

.important a:hover {
    text-decoration: none;
    color: #282828;
}

.resumesection h1{
    color: #99b829;
}



/**nav styling**/

.main-nav{
    margin: auto;
    padding: 10px;
}
 

.main-nav a {
    color: #99B829;
    text-decoration: none;
    padding: 10px 60px;
    font-size: 1.5em;
    text-align: center;
    display: block;

}
.main-nav a:hover {
    color: #FFFffF;
    text-decoration: none;
}

.main-footer{
    width: 100%;
    margin: 20px;
    padding: 20px;
    color: #99b829;
    background-color: #EDEDEF;
    text-align: center;
    
}

.main-footer a{
    width: 100%;
    text-decoration: none;
    color: #99b829;
}

.main-footer a:hover{
    color: #FFFffF;
    text-decoration: none;
}

//**button**//



/**media quieries**/

@media (min-width: 769px){
    
    .main-header{
        display: flex;

    }
    .main-nav{
        display: flex;
    }
    .main-header{
        flex-direction: column;
        align-items: flex-center;
    }
    .main-footer{
        width: 100%;
    }
    }
    
@media (min-width: 1025px){
    .main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    }

    
    .col, {
        margin: 15px;
    }
    .row {
        margin: 25px;
    } 
    .main-footer{
        width: 100%;
    }
}



